

/* --- FONT --- */

/* Cormorant Garamond - HTML = font-family: 'Cormorant Garamond'; */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nova+Round&display=swap');

/* Bodoni Moda */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;0,6..96,900;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800;1,6..96,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nova+Round&display=swap');



/* --- ALL HTML --- */
html{
    font-size: 100%;
}



/* --- COLORS --- */
:root{
    --mainBlack: #000000;
    --mainText: #dddddd;
    --secondaryContainers: #fff3dc;
    --testForBokser: #ff0000;
}



/* -- ALL BODY -- */
body{
    margin: 2rem;
    font-family: 'Cormorant Garamond'; 

}



/* -- TEMPORARY OWN LOGO -- */
.KSH-logo{
    padding: 2rem 3rem;
    background-color: var(--testForBokser);
}



/* -- NAVIGATION -- */
nav{
    display: flex;
    justify-content: space-between;
    background-color: var(--mainBlack);
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;

    color: var(--mainText);
    font-size: 1.125rem;
}


h1{
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    text-align: center;

    font-size: 3rem;
}

h2{
    font-size: 2rem;
    text-align: center;
    
}


h4{
    font-size: 1.4rem;
}

p{
    font-size: 1.3rem;

}





/* -- MY ASSIGNMENTS -- */

.assignmentsContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    margin-top: 8rem;
}


.elliotContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

    border-style: solid;
    padding: 2rem;
}


.nasjonalmuseetContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

    border-style: solid;
    padding: 2rem;

}


/* -- TEMPORARY ELLIOT-MOCKUP -- */
.elliotMockup{
    padding: 15rem 10rem;
    background-color: var(--testForBokser);

    margin-top: 1rem;
}


/* -- TEMPORARY NASJONALMUSEET-MOCKUP -- */
.nasjonalmuseetMockup{
    padding: 15rem 10rem;
    background-color: var(--testForBokser);

    margin-top: 1rem;
}







/* -- ABOUT ME -- */

.omMegContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;


    line-height: 2rem;  /* Hør med Eivind om det stemmer at linjeavstand skal være 1.5 ganger skriftstørrelsen. I dette tilfellet 3rem */
    margin-top: 8rem;
    padding: 8rem 4rem;
    background-color: var(--secondaryContainers);
}



.footerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    padding: 4rem;
    background-color: var(--mainBlack);
    color: var(--mainText)

}