

/* ---------- FONT ---------- */

/* Cormorant Garamond - HTML = font-family: 'Cormorant Garamond'; */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nova+Round&display=swap');

/* Bodoni Moda */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;0,6..96,900;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800;1,6..96,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nova+Round&display=swap');

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;0,6..96,900;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800;1,6..96,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nova+Round&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');





/* ---------- ALL HTML ---------- */
html{
    font-size: 100%;
}



/* ---------- COLORS ---------- */
:root{
    --black: #030303;
    --blackGray: #1D1D1D;
    --darkGray: #2A2A2A;
    --gray: #797979;
    --lightGray: #E4E4E4;
    --white: #FEFEFE;
    --yellowOne: #F7D84E;
    --yellowTwo: #FECD1A;
    --orangeOne: #FFC01B;
    --orangeTwo: #FFB61A;
}



/* ---------- ---------- ---------- ---------- INDEX PAGE ---------- ---------- ---------- ---------- */




/* ---------- ALL BODY ---------- */
body{
    font-family: 'poppins';
    background-color: var(--darkGray);
}


/* ---------- MY NAME ---------- */
.myName a{
    font-size: 1.5rem;
    font-weight: 200;

    text-decoration: none;
    color: var(--white);
}




/* ---------- NAVIGATION ---------- */
nav{
    display: flex;
    justify-content: space-between;
    background-color: var(--darkGray);

    padding: 2rem;

    font-weight: 100;
}


nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;

    color: var(--white);
   
}


nav ul li a{
    text-decoration: none;
    color: var(--white);
    font-size: 1.125rem;  
}


/* nav ul ::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: red;
    display: block;
    left: 0;
    border-radius: 1rem;
    opacity: 0;
    transition: all 0.4s;
    pointer-events: none;
}


nav ul :hover ::after{
    opacity: 1;
    margin-top: 0.5rem;
} */




/* ---------- ALL H1 ---------- */
h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3rem;

    color: var(--white);
    margin-top: 24rem;
    margin-bottom: 24rem;
}


/* ---------- ALL H2 ---------- */
h2{
    padding: 2rem 0 0 0;   /* Endre padding og margin til container fremfor på overskrift */
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    color: var(--white);

}




/* ---------- ALL H3 ---------- */
h3{
    font-size: 1.5rem;
    text-align: center;
}

h3 a{
    text-decoration: none;
    color: var(--white);
    font-weight: 200;
}



/* ---------- ALL H4 ---------- */
h4{
    font-size: 1.7rem;
    color: var(--white);
}



/* ---------- ALL PARAGRAPHS ---------- */
p{
    font-size: 1.2rem;
    line-height: 2rem;
    color: var(--darkGray);

    font-weight: 200;
}



/* ---------- MY ASSIGNMENTS ---------- */
.assignmentsContainer{
    background-color: var(--darkGray);
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 10rem;
}

.allAssignmentsContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5rem;

    margin: 5rem 5rem;
    padding: 2rem;
}



/* ---------- ELLIOT MOCKUP ---------- */
.elliotContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* background-color: rgb(71, 71, 71); */
    padding: 3rem 6rem;
    border-radius: 1rem;
}

.elliotMockup img{
    height: 23rem;
    transition: all 2s;
}

/* .elliotMockup :hover{
    height: 26rem;
    transition: all 6s;
} */



/* ---------- NASJONALMUSEET MOCKUP ---------- */
.nasjonalmuseetContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* background-color: rgb(71, 71, 71); */
    padding: 3rem 2rem;
    border-radius: 1rem;
}

.nasjonalmuseetMockup img{
    height: 23rem;
    transition: all 2s;
}

/* .nasjonalmuseetMockup :hover{
    height: 26rem;
    transition: all 6s;
} */



/* ---------- GUITARCHIVE MOCKUP ---------- */
.guitArchiveContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* background-color: rgb(71, 71, 71); */
    padding: 3rem 2rem;
    border-radius: 1rem;
}

.guitArchiveMockup img{
    height: 23rem;
    transition: all 2s;
}

/* .guitArchiveMockup :hover{
    height: 26rem;
    transition: all 6s;
} */



/* ---------- RUN MOCKUP ---------- */
.runContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* background-color: rgb(71, 71, 71); */
    padding: 3rem 6rem;
    border-radius: 1rem;
}

.runMockup img{
    height: 23rem;
    transition: all 2s;
}

/* .runMockup :hover{
    height: 26rem;
    transition: all 6s;
} */



/* ---------- ABOUT ME ---------- */
.omMegContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;

    line-height: 2rem;  /* Hør med Eivind om det stemmer at linjeavstand skal være 1.5 ganger skriftstørrelsen. I dette tilfellet 3rem */

    padding: 20rem 3rem 20rem 3rem;


    background-color: var(--black);
}

.omMegContainer p{
    color: var(--lightGray);
}



/* ---------- FOOTER ---------- */
.footerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;


    padding-bottom: 4rem;
    background-color: var(--darkGray);
    color: var(--white);

    padding: 6rem 0 6rem 0;
    
}

.footerContainer h2{
    color: var(--white);
}



/* ---------- ---------- ---------- ---------- PROGRAMS PAGE ---------- ---------- ---------- ---------- */




/* ---------- All PROGRAMS ---------- */




.programsContainer{
    margin-top: 40rem;
}


.allProgramsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20rem;

    color: var(--white);
}


.allProgramsContainer img{
    height: 6rem;
    width: 6rem;
    border-radius: 1rem;
}

.allProgramsContainer h2{
    color: var(--white);
}

.allProgramsContainer h3{
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}












/* ---------- WEB PROGRAMS ---------- */
.webHeadingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.webHeadingContainer hr{
    width: 100%;
}

.webProgramsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}


/* ---------- UX PROGRAMS ---------- */
.uxHeadingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.uxHeadingContainer hr{
    width: 100%;
}

.uxProgramsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

}


/* ---------- SOUND PROGRAMS ---------- */
.soundHeadingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.soundHeadingContainer hr{
    width: 100%;
}

.soundProgramsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}


/* ---------- KNOWN PROGRAMS ---------- */
.knownProgramsHeadingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.knownProgramsHeadingContainer hr{
    width: 100%;
}


.knownProgramsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}








/* ---------- HTML PROGRAM ---------- */
.htmlProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------- CSS PROGRAM ---------- */
.cssProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------- FIGMA PROGRAM ---------- */
.figmaProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------- JIRA PROGRAM ---------- */
.jiraProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------- AFFINITY DESIGNER PROGRAM ---------- */
.affinityDesignerProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------- AFFINITY PHOTO PROGRAM ---------- */
.affinityPhotoProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---------- ILLUSTRATOR PROGRAM ---------- */
.illustratorProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------- PHOTOSHOP PROGRAM ---------- */
.photoShopProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------- INDESIGN PROGRAM ---------- */
.inDesignProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------- LOGIC PRO PROGRAM ---------- */
.logicProProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------- PRO TOOLS PROGRAM ---------- */
.proToolsProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------- FINALCUT PRO PROGRAM ---------- */
.finalCutProProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------- JAVASCRIPT PROGRAM ---------- */
.javaScriptProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------- WEBFLOW PROGRAM ---------- */
.webflowProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------- GITHUB PROGRAM ---------- */
.gitHubProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}






/* ---------- ---------- ---------- ---------- ELLIOT PAGE ---------- ---------- ---------- ---------- */




/* ---------- ELLIOT TEMA 7 ---------- */
.temaOppgaveContainer{
    background-color: var(--orangeOne);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6rem;

    padding: 10rem 8rem;
}


.temaOppgaveText h2{
    display: flex;
    justify-content: left;

    color: var(--black);
    margin-bottom: 1rem;
}

.t7OppgaveIMG img{
    height: 40vw;
}



/* ---------- ELLIOT IDEMYLDRING ---------- */
.t7IdemyldringContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;

    margin: 10rem 8rem;
}

.t7IdemyldringContainer h2{
    color: var(--yellowTwo);
    display: flex;
    justify-content: left;
    margin-bottom: 1rem;
}


.t7IdemyldringContainer p{
    color: var(--white);
}

.t7IdemyldringIMG img{
    height: 25vw;
}



/* ---------- ELLIOT ALL RESEARCH ---------- */
.t7AllResearchContainer{
    background-color: var(--orangeTwo);
    padding: 10rem 8rem;

    display: flex;
    flex-direction: column;
    gap: 4rem;
}


/* ---------- ELLIOT RESEARCH ---------- */
.t7Research{
    background: var(--darkGray);
    padding: 4rem;

    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.t7Research h2{
    display: flex;
    justify-content: left;

    margin-bottom: 1rem;
    color: var(--yellowTwo);
}

.t7Research p{
    color: var(--white);
}

.t7ResearchIMG{
    display: flex;
    align-items: center;
}


.t7ResearchIMG img{
    height: 20vw;
}


/* ---------- ELLIOT UNDERSØKELSER ---------- */
.t7Undersokelser{
    background: var(--darkGray);
    padding: 4rem;

    display: flex;
    flex-direction: row;
    gap: 4rem;
}




.t7Undersokelser h2{
    display: flex;
    justify-content: left;

    margin-bottom: 1rem;
    color: var(--yellowTwo);
}

.t7Undersokelser p{
    color: var(--white);
}


.t7UndersokelserFirstText{
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}


.t7UndersokelserSecondText{
    display: flex;
    flex-direction: column;
    gap: 4rem;     

}

.t7UndersokelserSecondText p{
    color: var(--yellowTwo);
    margin-bottom: 1rem;
}


.t7KeyPoints ul{
    color: var(--white);
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.t7FormIMG{
    display: flex;
    justify-content: center;
}

.t7Form img{
    height: 20vw;
}








/* ---------- ELLIOT INTERVJUER ---------- */

.t7Intervjuer{
    background: var(--darkGray);
    padding: 4rem;

    display: flex;
    flex-direction: row;
    gap: 6rem;
}

.t7Intervjuer h2{
    display: flex;
    justify-content: left;

    margin-bottom: 1rem;
    color: var(--yellowTwo);
}

.t7IntervjuerFirstText p{
    color: var(--white);
}

.t7IntervjuerSecondText {
    color: var(--yellowTwo);
}

.t7IntervjuerSecondText li{
    margin-bottom: 1rem;
}



/* ---------- ELLIOT PROBLEMSTILLING ---------- */



.t7ProblemstillingContainer{
    padding: 16rem;
}


.t7ProblemstillingContainer p{
    color: var(--white);
}

.t7ProblemstillingSecondText{
    display: flex;
    flex-direction: column;
    align-items: center;

    border-style: solid;
    border-color: var(--white);

    margin-top: 10rem;
    padding: 4rem;
}


.t7ProblemstillingFirstText{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.t7ProblemstillingFirstText h2{
    color: var(--yellowTwo);
    margin-bottom: 1rem;
}



.t7ProblemstillingSecondText p{
    color: var(--yellowTwo);
    font-weight: 300;

}



/* ---------- BRUKERREISE ---------- */

.t7BrukerreiseContainer{
    background-color: var(--orangeOne);

    display: flex;
    flex-direction: row;
    gap: 6rem;

    padding: 10rem 8rem;
}


.t7BrukerreiseText h2{
    display: flex;
    justify-content: left;

    color: var(--black);
    margin-bottom: 1rem;
}





.t7BrukerreiseContainer{
    display: flex;
    justify-content: center;
}


.t7BrukerreiseIMG{
    display: flex;
    align-items: center;
}


.t7BrukerreiseIMG IMG{
    height: 25vw;
}






/* ---------- PERSONAS ---------- */


.t7PersonasText{
    padding: 10rem 16rem;
}




.t7PersonasContainer{
    margin: 0rem 8rem;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.t7PersonasContainer h2{
    color: var(--yellowTwo);
    margin-bottom: 1rem;
}

.t7PersonasContainer h3{
    color: var(--yellowTwo);
    margin-bottom: 0rem;
}

.t7PersonasContainer p{
    color: var(--white);
}



/* ---------- PERSONAS MARTIN ---------- */





.martinInfo{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.martinMainInfo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.martinMainInfo IMG{
    width: 28vw;
}

.martinSecondInfo{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}






.martinMainInfoUl{
    background-color: var(--blackGray);
    padding: 2rem 4rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}



.martinMainInfo ul{
    color: var(--yellowTwo);
    list-style: none;
    text-decoration: none;
}



.martinMainInfo ul span{
    color: var(--white);

    margin-left: 2rem;
}






.martinBio{
    background-color: var(--blackGray);
    padding: 2rem;
}






.martinPersonlighetHobbyer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;

    text-align: center;


}




.martinPersonlighet{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--blackGray);
    width: 50vw;
    padding: 2rem;


   
}

.martinHobbyer{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--blackGray);
    width: 50vw;
    padding: 2rem;

}


.martinMaalUtfordringer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;

    text-align: center;


    
}

.martinMaal{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--blackGray);
    width: 50vw;
    padding: 2rem;
}


.martinUtfordringer{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--blackGray);
    width: 50vw;
    padding: 2rem;
}




.martinBehovPlattformer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;

    text-align: center;
}



.martinBehov{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--blackGray);
    width: 50vw;
    padding: 2rem;
}


.martinPlattformer{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--blackGray);
    width: 50vw;
    padding: 2rem;
}








/* ---------- WIREFRAMES ---------- */


.t7DesignprosessContainer{
    background-color: var(--orangeOne);
    padding: 10rem 4rem;

    display: flex;
    flex-direction: column;
    gap: 20rem;
}

.t7Wireframes{
    margin: 10rem 8rem;

}


.t7Wireframes h2{
    color: var(--yellowTwo);
    margin-bottom: 1rem;
}


.t7Wireframes p{
    color: var(--white);
    margin-bottom: 2rem;
}


.t7WireframesText{
    background-color: var(--darkGray);
    margin-bottom: 2rem;
    padding: 2rem 4rem;
}


.t7WireframesIMGs{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;

    background-color: var(--darkGray);
    padding: 2rem 0rem; 
}

/* ---------- LOW-FI ---------- */

.t7LowFi{
    margin: 10rem 8rem 10rem 8rem;

}


.t7LowFi h2{
    color: var(--yellowTwo);
    margin-bottom: 1rem;
}


.t7LowFi p{
    color: var(--white);
    margin-bottom: 2rem;
}


.t7LowFiText{
    background-color: var(--darkGray);
    margin-bottom: 2rem;
    padding: 2rem 4rem;
}

.t7LowFiIMGs{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;

    background-color: var(--darkGray);
    padding: 2rem 0rem;
    
}


.lowFiOne{
    height: 19vw;
}

.lowFiTwo{
    height: 40vw;
}

.lowFiThree{
    height: 38vw;
}








/* ---------- VÅR LØSNING ---------- */


.t7VaarLosningContainer{
    padding: 10rem 8rem 10rem 8rem;
}

.t7VaarLosningContainer h2{
    color: var(--yellowTwo);
    margin-bottom: 10rem;

}


.t7VaarLosningContainer h3{
    color: var(--yellowTwo);
    margin-bottom: 1rem;
}


.t7VaarLosningContainer ul li{
    margin-bottom: 1rem;
}


.t7VaarLosningContainer p{
    color: var(--white);

}


.t7VaarLosningContainer ul{
    color: var(--white);
}


.t7VaarLosningPresentasjonPlussIMG{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}


.t7VaarLosningPresentasjonPlussIMG img{
    height: 25.5rem;
}


.t7VaarLosningPresentasjon{
    background-color: var(--blackGray);
    padding: 2rem 4rem;
    gap: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: left;
}




.t7VarLosningMockupTwo{
 
    display: flex;
    justify-content: center;
}


.t7VarLosningMockupTwo img{
    height: 40rem;
}


.t7VarLosningMockupTwo img{
    margin-top: 4rem;
    margin-bottom: 4rem;
    height: 48vw;
}

.t7VarLosningIMGs img{
    height: 40vw;

    

}


.t7VarLosningIMGs{



    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;

    justify-content: space-evenly;
    

}




/* ---------- ---------- ---------- ---------- GUITARCHIVE PANGE ---------- ---------- ---------- ---------- */




/* ---------- CRAZY8 ---------- */

.t8Crazy8Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6rem;

    margin: 10rem 8rem;
}

.t8Crazy8Container h2{
    color: var(--yellowTwo);

    display: flex;
    justify-content: left;
    margin-bottom: 1rem;
}

.t8Crazy8Container p{
    color: var(--white);
}


.t8Crazy8IMG img{
    height: 30vw;
}







/* ---------- SORTERING ---------- */

.t8sorteringContainer{
    display: flex;
    flex-direction: row;
    margin: 20rem 8rem;
    gap: 4rem;

}


.t8sorteringContainerOne{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}


.t8sorteringContainerOne h2{
    color: var(--yellowTwo);

    display: flex;
    justify-content: left;
    margin-bottom: 1rem;
}


.t8sorteringContainerOne p{
    color: var(--white);
}

.t8sorteringText{
    display: flex;
    flex-direction: column;
}


.t8sorteringIMGOne img{
    height: 25vw;
}


.t8sorteringIMGTwo{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}


.t8sorteringIMGTwo img{
    height: 14vw;
}





/* ---------- SKISSER ---------- */


.t8SkisserContainer{
    display: flex;
    flex-direction: row;
    margin: 20rem 8rem;
    gap: 4rem;
}

.t8SkisserContainerOne p{
    color: var(--white);
}


.t8SkisserContainerOne ul{
    color: var(--white);
}

.t8SkisserContainerOne h2{
    color: var(--yellowTwo);
    display: flex;
    justify-content: left;
    margin-bottom: 1rem;
}


.t8SkisserContainerOne{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.t8SkisserContainerOne{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 1rem;
}


.t8SkisserTextTwo ul{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}


.t8SkisserContainerTwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}


.t8SkisserContainerTwo img{
    height: 20vw;
}




/* ---------- RESEARCH ---------- */

.t8ResearchColorContainer{
    background-color: var(--orangeTwo);
    padding: 10rem 8rem 0rem 8rem;
    
}


.t8ResearchContainer{
    display: flex;
    flex-direction: row;
    gap: 4rem;

    background-color: var(--darkGray);
    padding: 3rem; 
}


.t8ResearchContainer h2{
    color: var(--yellowTwo);
    display: flex;
    justify-content: left;
    margin-bottom: 1rem;
}

.t8ResearchContainer p{
    color: var(--white);
    margin-bottom: 1rem;
}

.t8ResearchContainerTwo p{
    color: var(--yellowTwo);
    margin-top: 2rem;
}


.t8ResearchContainerOne{
    display: flex;
    flex-direction: column;
    gap: 7rem;
}


.t8ResearchTextTwo p{
    color: var(--yellowTwo);
}


.t8ResearchTextTwo{
    display: flex;
    flex-direction: column;
}



.t8ResearchIMGOne{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.t8ResearchIMGOne img{
    width: 39vw;
}


.t8ResearchIMGTwo{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}


.t8ResearchIMGTwo img{
    width: 30vw;

}


.t8ResearchContainerTwo{
    display: flex;
    flex-direction: column;
}







/* ---------- INTERVJU ---------- */

.t8IntervjuColorContainer{
    background-color: var(--orangeTwo);
    padding: 3rem 8rem 10rem 8rem;
    
    
}

.intervjuMainContainer{
    padding: 4rem;
    background-color: var(--darkGray);
    display: flex;
    flex-direction: row;
    gap: 3rem;
}






.intervjuMainContainer H2{
    color: var(--yellowTwo);

    display: flex;
    justify-content: left;
}

.intervjuMainContainer p{
    color: var(--white);
}

.t8IntervjuContainerTwo p{
    color: var(--yellowTwo);
    margin-bottom: 1rem;

}


.t8IntervjuIMG{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.t8IntervjuIMGSecondContainer img{
    width: 41vw;
}



.t8IntervjuIMGFirstContainer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.t8IntervjuIMGFirstContainer img{
    width: 20vw;
}









/* ---------- PERSONAS EMIL ---------- */


.emilInfo{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.emilMainInfo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.emilMainInfoUl{
    background-color: var(--blackGray);
    padding: 2rem 4rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.emilMainInfo ul{
    color: var(--yellowTwo);
    list-style: none;
    text-decoration: none;
}

.emilMainInfo ul span{
    color: var(--white);
}

.spanOneEmil{
    margin-left: 7rem;
}

.spanTwoEmil{
    margin-left: 7rem;
}


.spanThreeEmil{
    margin-left: 3rem;
}

.spanFourEmil{
    margin-left: 6rem;
}

.emilBio{
    background-color: var(--blackGray);
    padding: 2rem 4rem;
}



.emilPersonlighetHobbyer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
}


.emilPersonlighet{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--blackGray);
    width: 50vw;
    padding: 2rem;
}

.emilHobbyer{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--blackGray);
    width: 50vw;
    padding: 2rem;
}


.emilMaalFrustrasjon{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}


.emilMaal{
    background-color: var(--blackGray);
    width: 50vw;
    padding: 2rem;

}



/* .emilMaalContainer{
    display: flex;
    flex-direction: row;
    gap: 2rem;
} */




.emilFrustrasjon{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--blackGray);
    width: 50vw;
    padding: 2rem;
}




.emilSituasjonPlattformer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;

}



.emilSituasjon{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--blackGray);
    width: 50vw;
    padding: 2rem;
}


.emilPlattformer{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--blackGray);
    width: 50vw;
    padding: 2rem;
}









/* ---------- BRUKERREISE ---------- */

.t7BrukerreiseMoodboardColorContainer{
    background-color: var(--orangeTwo);
    padding: 10rem 8rem 10rem 8rem;

    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.t7BrukerreiseMoodboardColorContainer h2{
    color: var(--yellowTwo);
}

.t7BrukerreiseMoodboardColorContainer p{
    color: var(--white);

}




.t8BrukerreiseContainer h2{
    display: flex;
    justify-content: left;
}



.t8BrukerreiseContainer{
    background-color: var(--darkGray);
    padding: 2rem;

    display: flex;
    flex-direction: row;
    gap: 3rem;
}



/* ---------- MOODBOARD ---------- */



.t8MoodboardContainer h2{
    display: flex;
    justify-content: left;
}



.t8MoodboardContainer{
    background-color: var(--darkGray);
    padding: 2rem;

    display: flex;
    flex-direction: row;
    gap: 3rem;


}



/* ---------- PROBLEMSTILLING ---------- */

.t8ProblemstillingMVPContainer{
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding: 10rem 10rem;

}

.t8ProblemstillingMVPContainer h2{
    color: var(--white);
    margin-bottom: 2rem;

    display: flex;
    justify-content: center;
    
}

.t8ProblemstillingMVPContainer p{
    color: var(--yellowTwo);
    border-style: solid;
    border-color: var(--white);
    padding: 3rem;


}







/* ---------- LOW-FI ---------- */

.t7LowFiMidFiColorContainer{
    background-color: var(--orangeTwo);
    padding: 10rem 8rem 10rem 8rem;

    display: flex;
    flex-direction: column;
    gap: 10rem;

}

.t7LowFiMidFiColorContainer h2{
    color: var(--yellowTwo);
    margin-bottom: 2rem;
}

.t7LowFiMidFiColorContainer p{
    color: var(--white);

}




.t8LowFiContainer h2{
    display: flex;
    justify-content: left;
}



.t8LowFiContainer{
    background-color: var(--darkGray);
    padding: 3rem;

    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.t8LowFiIMG img{
    height: 32vw;

}



/* ---------- MID-FI ---------- */



.t8MidFiContainer h2{
    display: flex;
    justify-content: left;
}



.t8MidFiContainer{
    background-color: var(--darkGray);
    padding: 3rem;

    display: flex;
    flex-direction: row;
    gap: 3rem;


}


.t8MidFiIMG img{
    height: 32vw;

}




/* ---------- MID-FI ---------- */

.t8BrukertesterContainer{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 10rem 10rem;
}



.t8BrukertesterContainer h2{
    color: var(--yellowTwo);

}

.t8BrukertesterContainer h3{
    color: var(--yellowTwo);
    font-size: 1.4rem;
    font-weight: 400;


    margin-bottom: 2rem;
    display: flex;
    justify-content: left;
}


.t8BrukertesterContainer p{
    color: var(--white);
}

.t8BrukertesterTilbakemeldinger{
    border-style: solid;
    border-color: var(--white);
    padding: 4rem;

    color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.t8BrukertesterTilbakemeldinger ul{
    display: flex;
    flex-direction: column;

    gap: 1rem;
}





/* ---------- MID-FI ---------- */


.t8HiFiColorContainer{
    background-color: var(--orangeTwo);
    padding: 10rem 10rem;
}

.t8HiFiColorContainer h2{
    color: var(--yellowTwo);
    margin-bottom: 1.5rem;

    display: flex;
    justify-content: left;

}

.t8HiFiColorContainer p{
    color: var(--white);


}

.t8HiFiText{
    padding: 2rem 3rem;
    background-color: var(--darkGray);

}

.t8HiFiTextMLink{
    padding: 2rem 3rem;
    background-color: var(--darkGray);
}




.t8HiFiContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}



.hiFiTogetherGuiArchive{
    height: 50vw;
}




.t8HiFiPictures{
    margin-top: 10rem;


    display: flex;
    flex-direction: column;
    gap: 10rem;

}

.t8HiFiPictures h2{
    display: flex;
    justify-content: center;
    margin: 2rem;

}

.t8HiFiDesktopContainer{
    padding: 2rem;
    background-color: var(--darkGray);

    display: flex;
    flex-direction: column;
    align-items: center;
}


.t8HiFiMobilContainer{
    padding: 2rem;
    background-color: var(--darkGray);


    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.t8HiFiMobilFirstIMG{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;

}

.t8HiFiMobilSecondIMG{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;

}




.hiFiMobileGuitArchive{
    height: 40vw;

}
















/*  VELDIG GOD KODE!


.t8Crazy8Container{
    flex-wrap: wrap;
    justify-content: center;
}

.t8Crazy8IMG img{
    height: 50vw;
} */


















/* ---------- ---------- ---------- ---------- MEDIA SCREEAN ---------- ---------- ---------- ---------- */




/* ---------- TEST ---------- */
@media screen and (max-width: 1365px){


    .t7PersonasContainer{
        margin: 0rem;
        padding: 2rem;

    }
}




@media screen and (max-width: 1230px){



    .t7IdemyldringContainer{
        flex-wrap: wrap;
        justify-content: center;
    }

    .t7IdemyldringIMG img{
        height: 40vw;
    }

    .t7AllResearchContainer{
        padding: 10rem 2rem;
    }

    .t7Research{
        gap: 2rem;
        padding: 2rem;
    }


    .t7Undersokelser{
        padding: 2rem;
    }







   

    






  
    .t8ResearchColorContainer{
    padding: 10rem 2rem;
    background-color: blue;
    }
    
    
    .t8ResearchContainer{
        flex-wrap: wrap;
    }

    .t8ResearchTextTwo{
        align-items: center;

    }

    .t8ResearchIMGOne img{
        width: 70vw;
    }

    .t8ResearchContainerTwo{
        align-items: center;
    }


    .t8ResearchIMGTwo img{
        width: 70vw;
    }

    .t8ResearchContainer{
        justify-content: center;
    }



    .t8BrukerreiseContainer{
        display: flex;
        justify-content: center;
    }



    .t8MoodboardContainer{
        display: flex;
        justify-content: center;
    }




    .t8LowFiContainer{
        display: flex;
        justify-content: center;
    }
    


    .t8LowFiContainer{
        flex-wrap: wrap;
    }

    .t8LowFiIMG img{
        height: 50vw;
    }





    .t8MidFiContainer{
        display: flex;
        justify-content: center;
    }

    .t8MidFiContainer{
        flex-wrap: wrap;
    }

    .t8MidFiIMG img{
        height: 50vw;
    
    }




  




    /* Lag en colaps på personas flexene */
}



@media screen and (max-width: 1100px) {




    .temaOppgaveContainer{
        flex-wrap: wrap;
        justify-content: center;
        padding: 10rem 2rem;
        gap: 3rem;
    }


    .t7OppgaveIMG img{
        height: 100vw;
    }
    

    .t7IdemyldringContainer{
        margin: 10rem 2rem;
    }

    .t7IdemyldringIMG img{
        height: 56vw;
    }


    .t7AllResearchContainer{
        padding: 10rem 1rem;
    }


    .t7Research{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }


    .t7ResearchIMG img{
        height: 27vh;
    }

  





    .t7Undersokelser{
        display: flex;
        flex-wrap: wrap;
    }

    .t7Form img{
        margin-top: 1rem;
        height: 35vw; 
    }



    .t7Intervjuer{
        padding: 2rem;
        gap: 4rem;
        flex-wrap: wrap;
    }

 
    .t7ProblemstillingContainer{
        padding: 9rem 2rem;
    }


    .t7ProblemstillingSecondText{
        margin-top: 5rem;
        margin-bottom: 5rem;
        padding: 2rem;
    }

    



    .t7BrukerreiseContainer{
        display: flex;
        flex-wrap: wrap;

        gap: 4rem;
        padding: 5rem 2rem;
    }


    .t7BrukerreiseIMG{
        justify-content: center;
        align-items: center;
    }


    .t7BrukerreiseIMG IMG{
        height: 55vW;
    }




    /* --- MARTIN --- */



    .t7PersonasText{
        padding: 3rem 1rem;
    }
       
    .martinFlexWrap{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; 
    }

    .martinInfo{
        flex-wrap: wrap;
    }

    .martinInfo{
        justify-content: center;
    }


    .martinMainInfo IMG{
        width: 40vw;
    }

    .martinIMG{
        background-color: var(--blackGray);
        padding: 2rem 25vw ;

    }


    .martinPersonlighet{
        padding: 2rem 0rem;
    }

    .martinHobbyer{
        padding: 2rem 0rem;
    }

    .martinMaal{
        padding: 2rem 0rem;
    }

    .martinUtfordringer{
        padding: 2rem 0rem;
    }

    .martinBehov{
        padding: 2rem 0rem;
    }

    .martinPlattformer{
        padding: 2rem 0rem;

    }








    .martinPersonlighetHobbyer{
        flex-wrap: wrap;
        gap: 0rem;
    }


    .martinMaalUtfordringer{
        flex-wrap: wrap;
        gap: 0rem;
    }

    .martinBehovPlattformer{
        flex-wrap: wrap;
        gap: 0rem;

    }

    .martinSecondInfo{
        gap: 0rem;
        background-color: var(--blackGray);
    }


    .t7DesignprosessContainer{
        padding: 10rem 0rem;
        gap: 5rem;
    }
 


    .t7Wireframes{
        margin: 2rem;
    }

    .t7WireframesText{
        background-color: var(--darkGray);
        margin-bottom: 2rem;
        padding: 2rem 2rem;
    }

    .t7WireframesIMGs{
        background-color: var(--darkGray);
        padding: 2rem;
    }





    
    /* .t7WireframesIMGs{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: space-evenly;
    
        background-color: var(--darkGray);
        padding: 2rem 0rem; 
    } */







    .t7LowFi{
        margin: 2rem;
    
    }

    .t7LowFiText{
        padding: 2rem;
    }

    .t7LowFiIMGs{
        background-color: var(--darkGray);
        padding: 2rem 0rem;
    }

    .lowFiOne{
        height: 23vw;
    }
    
    .lowFiTwo{
        height: 48vw;
    }
    
    .lowFiThree{
        height: 46vw;
    }

    .t7VarLosningMockupOne img{
        height: 40vw;

    }


    .t7VarLosningIMGs img{
        height: 80vw;
    
    }
    


    
    









    .t7VaarLosningPresentasjonPlussIMG{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .t7VaarLosningPresentasjonPlussIMG img{
        height: 50vw;

    }






    .t8Crazy8Container{
        flex-wrap: wrap;
        justify-content: center;
    }

    .t8Crazy8IMG img{
        height: 60vw;
    }



    



    .t8sorteringIMGOne{
        display: flex;
        justify-content: center;
    }

    .t8sorteringIMGOne img{
        height: 40vw;

    }

    .t8sorteringContainer{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .t8sorteringIMGTwo img{
        height: 30vw;
    }

    .t8sorteringContainer{
        gap: 0rem;
    
    }




    .t8SkisserContainer{
        flex-wrap: wrap;
        justify-content: center;
    }

    .t8SkisserContainerTwo{
        margin-top: 1rem;
    }
    
    
    .t8SkisserContainerTwo img{
        height: 40vw;
    }
    




    
    .intervjuMainContainer{
        flex-wrap: wrap;
        padding: 2rem;
    }

    .t8IntervjuColorContainer{
        background-color: var(--orangeTwo);
        padding: 2rem;
    }

    .t8IntervjuIMGSecondContainer img{
        width: 60vw;
    }

    .t8IntervjuIMGFirstContainer img{
        width: 30vw;
    }







    
    .t8BrukerreiseContainer{
        flex-wrap: wrap;
    }
    
    
    .t8MoodboardContainer{
        flex-wrap: wrap;
    }

    .t7BrukerreiseMoodboardColorContainer{
        background-color: palevioletred;
        padding: 10rem 4rem 10rem 4rem;
    }

    .t8BrukerreiseIMG img{
        height: 50vw;
    }

    .t8MoodboardIMG img{
        height: 41vw;
    }




    .t8ProblemstillingMVPContainer{
        padding: 10rem 2rem;
    
    }


    .t7LowFiMidFiColorContainer{
        padding: 10rem 2rem;
    }



    .t8BrukertesterContainer{
 
        padding: 10rem 2rem;
    }


   
    .t8HiFiColorContainer{
    background-color: var(--orangeTwo);
    padding: 10rem 2rem;
}


.hiFiMobileGuitArchive{
    height: 60vw;

}






   


    





    


}



@media screen and (max-width: 690px) {


    .elliotMockup img{
        height: 20rem;
    }


    .nasjonalmuseetMockup img{
        height: 12rem;
    }

    .guitArchiveMockup img{
        height: 12rem;
    }

    .runMockup{
        height: 30rem;
    }


    .hiFiMobileGuitArchive{
        height: 100vw;
    
    }

    .t7WireframesIMGs{
        background: red;
    }

    .t7WireframesIMGs img{
        height: 100vw;
       
    }







}



@media screen and (max-width: 320px) { /* TEST */

    body{
        background-color: purple;
    }
}