

/* ---------- FONT ---------- */

/* Cormorant Garamond - HTML = font-family: 'Cormorant Garamond'; */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nova+Round&display=swap');

/* Bodoni Moda */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;0,6..96,900;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800;1,6..96,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nova+Round&display=swap');



/* ---------- ALL HTML ---------- */
html{
    font-size: 100%;
}



/* ---------- COLORS ---------- */
:root{
    --mainBlack: #000000;
    --mainGray: #252525;
    --mainText: #dddddd;
    --secondaryContainers: #fff3dc;
    --testForBokser: #ff0000;
    --alternativGray: #363636;
}



/* ---------- ---------- ---------- INDEX ---------- ---------- ---------- */



/* ---------- ALL BODY ---------- */
body{
    margin: 1rem;
    font-family: 'Cormorant Garamond';
    background-color: var(--mainGray);

}



/* ---------- TEMPORARY OWN LOGO ---------- */
.KSH-logo img{
    height: 5rem;
    border-radius: 0.2rem;
}



/* ---------- NAVIGATION ---------- */
nav{
    display: flex;
    justify-content: space-between;
    background-color: var(--mainBlack);

    padding: 1rem 2rem 1rem 1rem;
}


ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;

    color: var(--mainText);
    font-size: 1.125rem;
    
}


ul li a{
    text-decoration: none;
    color: var(--mainText);
}


nav ul ::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: red;
    display: block;
    left: 0;
    border-radius: 1rem;
    opacity: 0;
    transition: all 0.4s;
    pointer-events: none;
}


nav ul :hover ::after{
    opacity: 1;
    margin-top: 0.5rem;
}




/* ---------- ALL H1 ---------- */
h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3rem;

    color: var(--mainText);
    margin-top: 20rem;
    margin-bottom: 20rem;
}


/* ---------- ALL H2 ---------- */
h2{
    padding: 2rem 0 0 0;   /* Endre padding og margin til container fremfor på overskrift */
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    color: var(--mainBlack);

}

hr{
    height: 2px;
    width: 70rem;
    border-style: none;
    border-radius: 2rem;
    background-color: var(--mainText);

}



/* ---------- ALL H3 ---------- */
h3{
    font-size: 2rem;
    text-align: center;
}

h3 a{
    text-decoration: none;
    color: var(--mainText);
    font-weight: 400;
}



/* ---------- ALL H4 ---------- */
h4{
    font-size: 1.7rem;
    color: var(--mainText);
}



/* ---------- ALL PARAGRAPHS ---------- */
p{
    font-size: 1.3rem;
    color: var(--mainGray);
}



/* ---------- MY ASSIGNMENTS ---------- */
.assignmentsContainer{
    background-color: var(--alternativGray);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allAssignmentsContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5rem;

    margin: 5rem 5rem;
    padding: 2rem;
}



/* ---------- ELLIOT MOCKUP ---------- */
.elliotContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* background-color: rgb(71, 71, 71); */
    padding: 3rem 6rem;
    border-radius: 1rem;
}

.elliotMockup img{
    height: 23rem;
    transition: all 2s;
}

.elliotMockup :hover{
    height: 26rem;
    transition: all 6s;
}



/* ---------- NASJONALMUSEET MOCKUP ---------- */
.nasjonalmuseetContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* background-color: rgb(71, 71, 71); */
    padding: 3rem 2rem;
    border-radius: 1rem;
}

.nasjonalmuseetMockup img{
    height: 23rem;
    transition: all 2s;
}

.nasjonalmuseetMockup :hover{
    height: 26rem;
    transition: all 6s;
}



/* ---------- GUITARCHIVE MOCKUP ---------- */
.guitArchiveContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* background-color: rgb(71, 71, 71); */
    padding: 3rem 2rem;
    border-radius: 1rem;
}

.guitArchiveMockup img{
    height: 23rem;
    transition: all 2s;
}

.guitArchiveMockup :hover{
    height: 26rem;
    transition: all 6s;
}



/* ---------- RUN MOCKUP ---------- */
.runContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* background-color: rgb(71, 71, 71); */
    padding: 3rem 6rem;
    border-radius: 1rem;
}

.runMockup img{
    height: 23rem;
    transition: all 2s;
}

.runMockup :hover{
    height: 26rem;
    transition: all 6s;
}



/* ---------- ABOUT ME ---------- */
.omMegContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;

    line-height: 2rem;  /* Hør med Eivind om det stemmer at linjeavstand skal være 1.5 ganger skriftstørrelsen. I dette tilfellet 3rem */
    margin-top: 8rem;
    padding: 8rem 4rem;
    background-color: var(--secondaryContainers);
}



/* ---------- FOOTER ---------- */
.footerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


    padding-bottom: 4rem;
    background-color: var(--mainBlack);
    color: var(--mainText)
}

.footerContainer h2{
    color: var(--mainText);
}



/* ---------- ---------- ---------- PROGRAMS ---------- ---------- ---------- */




/* ---------- All PROGRAMS ---------- */




.programsContainer{
    margin-top: 40rem;
}


.allProgramsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20rem;

    color: var(--mainText);
}


.allProgramsContainer img{
    height: 6rem;
    width: 6rem;
    border-radius: 1rem;
}

.allProgramsContainer h2{
    color: var(--mainText);
}

.allProgramsContainer h3{
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}












/* ---------- WEB PROGRAMS ---------- */
.webHeadingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.webHeadingContainer hr{
    width: 100%;
}

.webProgramsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}


/* ---------- UX PROGRAMS ---------- */
.uxHeadingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.uxHeadingContainer hr{
    width: 100%;
}

.uxProgramsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

}


/* ---------- SOUND PROGRAMS ---------- */
.soundHeadingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.soundHeadingContainer hr{
    width: 100%;
}

.soundProgramsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}


/* ---------- KNOWN PROGRAMS ---------- */
.knownProgramsHeadingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.knownProgramsHeadingContainer hr{
    width: 100%;
}


.knownProgramsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}








/* ---------- HTML PROGRAM ---------- */
.htmlProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------- CSS PROGRAM ---------- */
.cssProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------- FIGMA PROGRAM ---------- */
.figmaProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------- JIRA PROGRAM ---------- */
.jiraProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------- AFFINITY DESIGNER PROGRAM ---------- */
.affinityDesignerProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------- AFFINITY PHOTO PROGRAM ---------- */
.affinityPhotoProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---------- ILLUSTRATOR PROGRAM ---------- */
.illustratorProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------- PHOTOSHOP PROGRAM ---------- */
.photoShopProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------- INDESIGN PROGRAM ---------- */
.inDesignProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------- LOGIC PRO PROGRAM ---------- */
.logicProProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------- PRO TOOLS PROGRAM ---------- */
.proToolsProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------- FINALCUT PRO PROGRAM ---------- */
.finalCutProProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------- JAVASCRIPT PROGRAM ---------- */
.javaScriptProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------- WEBFLOW PROGRAM ---------- */
.webflowProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------- GITHUB PROGRAM ---------- */
.gitHubProgramContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}






/* ---------- ---------- ---------- MEDIA SCREEAN ---------- ---------- ---------- */


@media screen and (max-width: 690px) {


    body{
        background-color: red;
    }

    .elliotMockup img{
        height: 20rem;
    }


    .nasjonalmuseetMockup img{
        height: 12rem;
    }

    .guitArchiveMockup img{
        height: 12rem;
    }

    .runMockup{
        height: 20rem;
    }



}